// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";


html,
body {
  font-family: rift-regular, rift-soft, -apple-system, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: .06rem;
}
a{
  color: black;
  text-decoration-line: none;
}
a:hover{
  text-decoration: none;
  color: red;
} 
main{
  min-height: 100vh;
}
.btn-primary{
  background-color: initial;
}

input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        display: none;
      }