@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: rift-regular, rift-soft, -apple-system, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: .06rem;
}
a{
  color: black;
  text-decoration-line: none;
}
a:hover{
  text-decoration: none;
  color: red;
} 
main{
  min-height: 100vh;
}
.btn-primary{
  background-color: initial;
}

.badge {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  // padding-top: 100%;
}

img {
  max-width: unset !important;
}

input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        display: none;
      }