.product_details {

  & strong {
    font-size: medium;
    font-weight: 700;
  }
  
  & ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
  }

}